<div class="container">
  <h1>To-do list App</h1>
  <p>
    Welcome newbie! <br>
    Please enter following details to create a new account.
  </p>
  <form #frm="ngForm" (ngSubmit)="authenticate()">
    <div class="form-group">
      <label for="txt-username">Username</label>
      <input #txtUsername #usernameModel="ngModel" name="txt-username" required [minlength]="3" pattern="[A-Za-z]+" [(ngModel)]="username" id="txt-username" type="text"
             placeholder="Enter username">
      <small [style.color]="'red'" *ngIf="usernameModel.hasError('minlength')">Username should be at least 3 letters</small>
      <small [style.color]="'red'" *ngIf="usernameModel.hasError('pattern')">Username can contain only [A-Za-z] letters</small>
    </div>
    <div class="form-group">
      <label for="txt-password">Password</label>
      <input  #passwordModel="ngModel" name="txt-password" required [minlength]="6" [(ngModel)]="password" id="txt-password" type="password" placeholder="Enter password">
      <small [style.color]="'red'" *ngIf="passwordModel.invalid && passwordModel.dirty">Password should be at least 6 letters</small>
    </div>

    <div class="form-group">
      <button [disabled]="frm.invalid" class="sign-up">Create Account</button>
    </div>
  </form>
</div>
